# Client Files.
Errores.log
Fotos/*
Codigo/*.log
*.vbw
*.oca
*.csi
*.lvw
*.OBJ

Recursos/Ambient.WAO
Recursos/Fuentes.WAO
Recursos/Graficos.WAO
Recursos/Interface.WAO
Recursos/Mapas.WAO
Recursos/Minimap.WAO
Recursos/Scripts.WAO
Recursos/Sounds.WAO
Recursos/Skins/*.WAO
WinterAOResurrection.exe

INIT/BindKeys.bin
INIT/Config.ini

# System Files.
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump
